 <div style="z-index: 1;position:fixed;width:100%" class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading"><div class="row">
  <div class="col-sm-3" style="padding-left:20px"><a href="#!/LoginValidating"><img style="height:38px; width:137px;padding:0px;margin-top:10px;" src="images/download.jpeg"></img></a></div>
  <div class="col-sm-6" align="center"><h3>Information of {{vm.song.track_title}}</h3></div>
  <div class="col-sm-3" style="padding-right:20px;padding-top:25px;" align="right"><a href="#!/Login"><h4>Logout</h4></a></div>
</div></div>
       </div>
    </div>

	<br/><br/>
	<br/><br/><br/>
 
 <div class="container">
  <div class="row">
  <div align="center">
  <div class="col-xs-1"><br><br><br><br><br><br>
  <div class="short-div"><Button class="btn btn-primary btn-md" type="submit" ng-init="vm.EditClickedFlag='none'" ng-click="EditButtonClicked(EditClickedFlag);" style="color:white;"><b>Edit</b></Button></div><br><br>
  <div style="display:{{vm.EditClickedFlag}}" class="short-div"><input ng-model="vm.Youtube_Link" style="font-size:10px;font-weight:bold;color:red;" class="form-control" placeholder="{{vm.song.youtube_id}}" type="text"></input></div><br>
  <div style="display:{{vm.EditClickedFlag}}" class="short-div"><Button class="btn btn-primary btn-md" style="font-size:10px;font-weight:bold;color:white;" type="submit" ng-click="SubmitLink(vm.Youtube_Link,vm.song._id);" style="color:white;"><b>Submit Link</b></Button></div><br><br>
  
  </div>
    <div class="col-xs-5"><a ng-href="https://www.youtube.com/watch?v={{vm.song.youtube_id}}">
 <img class="img-responsive center-block" ng-src="{{vm.song.artwork_large}}"></img>
 </a></div>
 </div>
    <div class="col-xs-3">
	
	<div class="short-div"><h4>Artist Details : </h4></div>
      <div class="short-div">
 <ul><li ng-repeat="artist in vm.song.artist">{{artist.name}}</li></ul>
 </div></br>
<div class="short-div"><h4>General : </h4></div>
      <div class="short-div">
 <ul><li ng-repeat="gen in vm.song.gener">{{gen.name}}</li></ul>
 </div></br>
<div class="short-div"><h4>In {{vm.song.language}} Language</h4></div>
  
</div> 
  <div class="col-xs-3">
	
	<div class="short-div"><h4>Album title : </h4>{{vm.song.album_title}}</div>
  <br/>
	<div class="short-div"><h4>Duration : </h4>{{convertToInt(vm.song.duration/60)}} minute {{ vm.song.duration%60}} seconds</div>
<br/>

<div class="short-div"><h4>Lyrics can be found here : <br/><br/></h4><a ng-href="{{vm.song.lyrics_url}}">{{vm.song.lyrics_url}}</a></div>
  
	
  </div>
  
  
  
</div>
 
 </div>